<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <title>@ViewBag.PageTitle</title>
    <meta name="keywords" content="DearlerSol | Dealers Management System " />
    <meta name="description" content="Vehicle Management System | Dealer Management System | Dealer ERP ">
    <meta name="author" content="DealerSol.com">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Favicon  -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600,800,900|Shadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/vendor/animate/animate.css">


    <link rel="stylesheet" href="~/vendor/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="~/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css" />

    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="~/vendor/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="~/vendor/jquery-ui/jquery-ui.theme.css" />
    <link rel="stylesheet" href="~/vendor/bootstrap-multiselect/css/bootstrap-multiselect.css" />
    <link rel="stylesheet" href="~/vendor/morris/morris.css" />

    <!--(remove-empty-lines-end)-->
    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/css/theme.css" />


    <!--(remove-empty-lines-end)-->
    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/css/skins/default.css" />

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/css/custom.css">


    <!-- Head Libs -->
    <script src="~/vendor/modernizr/modernizr.js"></script>


    <!--Chart js Css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.css" />


</head>
<body>


    <section class="body">

        <!-- start: header -->
        <header class="header header-nav-menu header-nav-top-line">


            <partial name="_Header.cshtml" />

        </header>
        <!-- end: header -->

        <div class="inner-wrapper">
            <!-- start: sidebar -->
            <!-- end: sidebar -->

            <section role="main" class="content-body">
                @RenderBody()
            </section>
        </div>
        <aside id="sidebar-right" class="sidebar-right">
            <div class="nano">
                <div class="nano-content">
                    <a href="#" class="mobile-close d-md-none">
                        Collapse <i class="fas fa-chevron-right"></i>
                    </a>

                    <div class="sidebar-right-wrapper">

                        <div class="sidebar-widget widget-calendar">
                            <h6>Upcoming Tasks</h6>
                            <div data-plugin-datepicker data-plugin-skin="dark"></div>

                            <ul>
                                <li>
                                    <time datetime="2017-04-19T00:00+00:00">04/19/2017</time>
                                    <span>Company Meeting</span>
                                </li>
                            </ul>
                        </div>

                        <div class="sidebar-widget widget-friends">
                            <h6>Friends</h6>
                            <ul>
                                <li class="status-online">
                                    <figure class="profile-picture">
                                        <img src="img/!sample-user.jpg" alt="Joseph Doe" class="rounded-circle">
                                    </figure>
                                    <div class="profile-info">
                                        <span class="name">Joseph Doe Junior</span>
                                        <span class="title">Hey, how are you?</span>
                                    </div>
                                </li>
                                <li class="status-online">
                                    <figure class="profile-picture">
                                        <img src="img/!sample-user.jpg" alt="Joseph Doe" class="rounded-circle">
                                    </figure>
                                    <div class="profile-info">
                                        <span class="name">Joseph Doe Junior</span>
                                        <span class="title">Hey, how are you?</span>
                                    </div>
                                </li>
                                <li class="status-offline">
                                    <figure class="profile-picture">
                                        <img src="img/!sample-user.jpg" alt="Joseph Doe" class="rounded-circle">
                                    </figure>
                                    <div class="profile-info">
                                        <span class="name">Joseph Doe Junior</span>
                                        <span class="title">Hey, how are you?</span>
                                    </div>
                                </li>
                                <li class="status-offline">
                                    <figure class="profile-picture">
                                        <img src="img/!sample-user.jpg" alt="Joseph Doe" class="rounded-circle">
                                    </figure>
                                    <div class="profile-info">
                                        <span class="name">Joseph Doe Junior</span>
                                        <span class="title">Hey, how are you?</span>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </aside>
        <partial name="_Footer.cshtml" />
    </section>

    <!-- Vendor -->
    <script src="~/vendor/jquery/jquery.js"></script>
    <script src="~/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="~/vendor/popper/umd/popper.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="~/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/vendor/common/common.js"></script>
    <script src="~/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="~/vendor/magnific-popup/jquery.magnific-popup.js"></script>
    <script src="~/vendor/jquery-placeholder/jquery.placeholder.js"></script>

    <!-- Specific Page Vendor -->
    <script src="~/vendor/jquery-ui/jquery-ui.js"></script>
    <script src="~/vendor/jqueryui-touch-punch/jquery.ui.touch-punch.js"></script>
    <script src="~/vendor/jquery-appear/jquery.appear.js"></script>
    <script src="~/vendor/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
    <script src="~/vendor/jquery.easy-pie-chart/jquery.easypiechart.js"></script>
    <script src="~/vendor/flot/jquery.flot.js"></script>
    <script src="~/vendor/flot.tooltip/jquery.flot.tooltip.js"></script>
    <script src="~/vendor/flot/jquery.flot.pie.js"></script>
    <script src="~/vendor/flot/jquery.flot.categories.js"></script>
    <script src="~/vendor/flot/jquery.flot.resize.js"></script>
    <script src="~/vendor/jquery-sparkline/jquery.sparkline.js"></script>
    <script src="~/vendor/raphael/raphael.js"></script>
    <script src="~/vendor/morris/morris.js"></script>
    <script src="~/vendor/gauge/gauge.js"></script>
    <script src="~/vendor/snap.svg/snap.svg.js"></script>
    <script src="~/vendor/liquid-meter/liquid.meter.js"></script>
    <script src="~/vendor/jqvmap/jquery.vmap.js"></script>
    <script src="~/vendor/jqvmap/data/jquery.vmap.sampledata.js"></script>
    <script src="~/vendor/jqvmap/maps/jquery.vmap.world.js"></script>
    <script src="~/vendor/jqvmap/maps/continents/jquery.vmap.africa.js"></script>
    <script src="~/vendor/jqvmap/maps/continents/jquery.vmap.asia.js"></script>
    <script src="~/vendor/jqvmap/maps/continents/jquery.vmap.australia.js"></script>
    <script src="~/vendor/jqvmap/maps/continents/jquery.vmap.europe.js"></script>
    <script src="~/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js"></script>
    <script src="~/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js"></script>


    <!--(remove-empty-lines-end)-->
    <!-- Theme Base, Components and Settings -->
    <script src="~/js/theme.js"></script>



    <!-- Theme Custom -->
    <script src="~/js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/js/theme.init.js"></script>

    <!-- Examples -->
    <script src="~/js/examples/examples.dashboard.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        var lefttime = 1740;
        var interval;
        interval = setInterval('change()', 1740000);


        function change() {
            lefttime--;
            if (lefttime <= 2)
                alert("The session will be off, left time is " + lefttime + " second!")
        }
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
